{% extends "base.html" %}

{% block content %}

<div class="container">

  <div class="page-header">
    <h2>Produtos mais baratos por supermercado</h2>
  </div>

  {% if linhas %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Produto</th>
          <th class="tc">Preço</th>
          <th class="tc">Quant.</th>
          <th class="tc">Total</th>
          <th class="tc">Loja</th>
        </tr>
      </thead>
      <tbody>
        {% for linha in linhas %}
          {% if linha.product__product %}
            <tr>
          {% elif linha.subtotal %}
            <tr class="info">
          {% else %}
            <tr id="total">
          {% endif %}
            {% if linha.product__product %}
              <td>{{ linha.product__product }}</td>
              <td class="tc">{{ linha.price }}</td>
              <td class="tc">{{ linha.quantity }}</td>
              <td class="tc">{{ linha.total|floatformat:2 }}</td>
              <td class="tc">{{ linha.store__store }}</td>
            {% elif linha.subtotal %}
              <td></td><td></td><td></td>
              <td class="subtotal tc primary lead">R$ {{ linha.subtotal|floatformat:2 }}</td>
              <td class="tc">SUBTOTAL</td>
            {% else %}
              <td></td><td></td><td></td>
              <td class="total tc lead" style="color: #fff;">R$ {{ linha.total|floatformat:2 }}</td>
              <td class="tc">TOTAL</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}
</div>
{% endblock content %}